.activities-container{
    display: grid;
    grid-template-columns: 4fr 1fr; 
}
.activities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 10px 50px;
}

.activities-header{

    background-color: rgb(231, 243, 243);
}
.activities-header-info{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.activitie-select{
    margin-top: 10px;
    margin-left: 50px;   
}
.information{
    background-color: rgb(200, 243, 228);
   
}

@media screen and (max-width:768px) {
    .activities-container{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .activities{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 45px;
        margin: 10px 50px;
    }
}

