
.detail{
    margin: 30px;
    position: sticky;
    top: 0;
    
}
.info{
    display: flex;
    align-items: center;
}

.info-img{
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
.perosnal-info{
    margin-left: 10px;
    font-weight: 600;
}
.perosnal-info small{
    font-weight: 400;
}
.hight-weight{
    display: flex;
    background-color: rgb(148, 240, 211);
    gap: 10px;
    border-radius: 15px;
}

.break-time{
    background-color: rgb(148, 240, 211); 
    border-radius: 15px;
    padding: 10px;
}
.btn-break{
    margin: 3px;
    padding: 8px;
    border-radius: 20px;
    border: none;

}
.btn-break:hover{
    background-color: rgb(106, 106, 231);
}

.excricse-time{
    background-color: rgb(148, 240, 211); 
    border-radius: 15px;
    padding: 10px; 
}
.break-time{
    background-color: rgb(148, 240, 211); 
    border-radius: 15px;
    padding: 10px; 
}

.activity-complete{
    background-color: #9ae5e5;
    border: none;
    padding: 10px;
    border-radius: 10px;
 
}
.activity-complete:hover{
    background-color: rgb(106, 106, 231);
}