.question-container{
    margin-top: 20px;
    margin-left: 50px;
    
}
.question p{
    padding: 10px 30px;
}


@media screen and (max-width:768px){
    .question p{
        padding: 0;
        margin: 0;
    }
    
}
/* .question{
    width: 100%;
} */